body {
  height: 100%;
  width: 100%;
  background: url('../../images/testfond.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "calling" ;
  color : white ;
  text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}

@font-face {
  font-family : "calling" ;
  src: url('police/calling.otf') ;
}

#boule {
  position: fixed;
  top: 46.7%;  /*58*/
  left: 49.8%;  /*48.3*/
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 2.2%;  /*2.2*/
  transform-origin: top left;
  z-index: -1;
}

#canonboule {
  /*border-style: solid;*/
  width: 8%;
  height: 210%;      /*20%*/
  position: absolute;
  top: -145%;         /*50%*/
  left: 45.5%;
}

#canon {
  position: absolute;
  bottom: 0%;       /*-30%*/
  left: 0%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 100%;
  transform: rotate(0deg);
}

#murpierre {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-image: url('../../images/murpierre.jpg');
}

.murpierre1 {
  position: absolute;
  top: 52%;
  left: 0%;
  height: 40px;
  width: 39.4%;
  background-size:20% 500%;
}

.murpierre2 {
  position: absolute;
  top: 73%;
  left: 0%;
  height: 40px;
  width: 39.4%;
  background-size:30% 500%;
}

.murpierre3 {
  position: absolute;
  top: 52%;
  right: 0%;
  height: 40px;
  width: 40%;
  background-size:20% 500%;
}

.murpierre4 {
  position: absolute;
  top: 73%;
  right: 0%;
  height: 40px;
  width: 40%;
  background-size:30% 500%;
}

.murpierre5 {
  position: absolute;
  top: 78.3%;
  left: 36.9%;
  height: 21.6%;
  width: 40px;
  background-size:500% 100%;
}

.murpierre6 {
  position: absolute;
  top: 78.3%;
  left: 59.85%;
  height: 21.6%;
  width: 40px;
  background-size:500% 100%;
}

.murpierre7 {
  position: absolute;
  top: 0%;
  left: 36.85%;
  height: 51.9%;
  width: 40px;
  background-size:300% 50%;
}

.murpierre8 {
  position: absolute;
  top: 0%;
  left: 59.85%;
  height: 51.9%;
  width: 40px;
  background-size:300% 50%;
}

.murpierre9 {
  position: absolute;
  top: 57.4%;
  left: 36.9%;
  height: 0%;  /*15.5%*/
  width: 40px;
  background-size:300% 100%;
}

.murpierre10 {
  position: absolute;
  top: 87%;
  left: 39.45%;
  height: 40px;
  width: 0%; /*20.35*/
  background-size:50% 400%;
}

.murpierre11 {
  position: absolute;
  top: 57.4%;
  left: 59.85%;
  height: 0%;  /*15.5%*/
  width: 40px;
  background-size:300% 100%;
}

#murmetal {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-image: url('../../images/murmetal.jpg');
}

.murmetal1 {
  position: absolute;
  top: 20%;
  left: 39.45%;
  height: 3%;
  width: 20.35%;
  background-size:200% 500%;
}

.murmetal2 {
  position: absolute;
  top: 25%;
  left: 39.45%;
  height: 3%;
  width: 20.35%;
  background-size:200% 500%;
}

.murmetal3 {
  position: absolute;
  top: 30%;
  left: 39.45%;
  height: 3%;
  width: 20.35%;
  background-size:200% 500%;
}

#levier {
  /*border-style: solid;*/
  border-width: 1px;
}

.levier1 {
  position: absolute;
  top: 60%;
  left: -0.5%;
  width: 6%;
  transform: rotate(90deg);
}

.levier2 {
  position: absolute;
  bottom: -0.5%;
  left: 47%;
  width: 4%;
}

.levier3 {
  position: absolute;
  top: 60%;
  right: -0.5%;
  width: 6%;
  transform: rotate(-90deg);
}

#canvas {
  border-style: solid;
}


#coffre {
  position: absolute;
  top: 10%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 10%;
  transform-origin: bottom left;
  z-index: 0;
}

#explosion {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: -1;
  top: 97%;
  left: 4%;

}



#bordureL {
  height: 99%;
  left: 0%;
  top: 0%;
}

#bordureR {
  right: 0%;
  top: 0%;
  height: 99%;
}

#bordureT {
  left: 0%;
  top: 0%;
  width: 99%;
}

#bordureB {
  left: 0%;
  bottom: 0%;
  width: 99%;
}

.border {
  position: absolute;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
}

#button {
  position:absolute ;
  top: 60px ;
  width: 100px ;
  border:none;
	padding:6px 0 6px 0;
	background:rgba(0,0,0,0);
	font:bold 13px Arial;
	color:green;
  font-family : "calling" ;
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;
  font-size:25px ;
  left: 140px;
}

#button:hover {
  position:absolute ;
  top: 65px ;
  width: 100px ;
  border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:rgba(0,0,0,0);
	font:bold 13px Arial;
	color:green;
  font-family : "calling" ;
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;
  font-size:25px ;
}

#popup {
  text-align: center;
  opacity: 0;
  border: solid 2px green ;
  height: 150px ;
  width: 350px ;
  padding:10px ;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  left: -100%;
  font-size: 20px;
  background: url("../../images/win.jpg") ;
  background-size : 100% 100% ;
  top: -100%;

}

#popup2 {
  text-align: center;
  opacity: 0;
  border: solid 2px red ;
  height: 150px ;
  width:350px ;
  padding:10px ;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  left:-100%;
  font-size: 20px;
  background: url("../../images/lose.gif");
  background-size : 100% 100% ;
  top: -100%;
}

#button2 {
  position:absolute ;
  top: 60px ;
  width: 100px ;
  border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:rgba(0,0,0,0);
	font:bold 13px Arial;
	color:red;
  font-family : "calling" ;
  text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
  font-size:25px ;
  left: 140px;

}

#button2:hover {
  position:absolute ;
  top: 65px ;
  width: 100px ;
  border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:rgba(0,0,0,0);
	font:bold 13px Arial;
	color:red;
  font-family : "calling" ;
  text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
  font-size:25px ;
  left: 140px;

}
